/* --- Body --- */
html{
    min-height: 100%;
    min-width: 100%;
    background-image: linear-gradient(to bottom, #b967ff, #ff71ce, #fffb96, #01cdfe, #05ffa1);
}

body{
    font-family: Lato, Helvetica;
    font-size: 1rem;
    margin: auto;
    width: 95%;
    max-width: 64rem;
}

/* Heading */
h1, h2, h4, h5, h6{
    color: #05ffa1;
}
h1,h2{ 
    font-size: 1.75rem; 
    background-color: #b967ff22; 
    border: 3px groove #eee; 
    border-radius: 35px; 
    padding: 1rem;
    margin-bottom: 0px;
}
h1{ color: #fffb96; text-align: center; font-size: 2rem; margin-bottom: 1rem;}
h3{ font-size: 1.5rem; color: #fffb96; }

/* --- Navigation --- */
/* Links */
a {color: #01cdfe;text-decoration: none;}
a:visited {color: #00bced;text-decoration: none;}
a:hover, a:active {color: #ff71ce; text-decoration: underline;}
a:hover .thumbnail, a:active .thumbnail {border-color: #ff71ce; opacity: 85%;}
a:hover img {opacity: 75%;}
iframe {
    border: 3px groove #666;
    width: 100%;
}

/* Navbar */
nav {
    font-family: monospace;
    font-weight: 700;
    background: rgba(32,32,32, .8);
    color: #EEE;
    border: 3px groove #EAEAEA;
    border-radius: 35px;
    margin: auto;       /* space between content & navbar */
    width: 100%;
    overflow: hidden;
    z-index: 10;
}
nav table { width: 100%; }
nav img, table, tbody, tr, td { height: 100%; margin: 0; padding: 0; border-spacing: 0; }
nav img { width: 4rem; height: 100%; border-right: 1px solid #EAEAEA; }
nav td {padding-right: 4px;} /* avoid text scrunching up */

#return-to-top{
    position: fixed;
    bottom: 1rem;
    right: 1rem;
    background: #ff71ceAA;
    font-size: 3rem;
    border: 0px;
    border-radius: 35px;
    width: 4rem;
    height: 4rem;
    color: #eee;
    margin: 0;
    padding: 0;
    text-shadow: 2px 2px #555;
    opacity: .75;
}
#return-to-top:hover{
    cursor: pointer;
}

/* Landing Page */
.feed-wrapper {
    border: 3px groove #666;
    border-radius: 35px;
    height: 40rem;
    overflow-y: scroll;
}

.text-wrapper{
    border: 3px groove #666;
    border-radius: 35px;
    background: #b967ff11;
    padding: 1rem;
    font-family: monospace;
}

.landing-container {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    background: #333;
    border-bottom: 3px groove #666;
    /*margin: 1rem;*/
}
.landing-thumbnail { 
    margin: .75rem;
    /*width: 205px;*/
    max-width: 16rem;
    justify-content: center;
    align-items: center;
    /*flex-grow: 1;*/
    text-align: center;
}
.landing-thumbnail img { width: 100%; box-shadow: 0 1px 1px 2px #000; }
.landing-summary { 
    padding: 0 1rem;
    border-left: 1px solid #444; 
    flex: 1;
    display: flex;
    justify-content: center;
    flex-direction: column;
    min-width: 16rem;
}
.landing-summary h3 { margin: .25em 0 0 0; }
.landing-tags { 
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}
.landing-tag { 
    color: #ff71ce99;
    font-family: monospace;
    padding: .25em .25rem; 
    margin: .3rem; 
    font-size: 14px;
}
.landing-links { padding: 0; margin: 0; }
.landing-links img { max-width: 48px; max-height: 48px; margin: .25rem; }


/* --- (old) Music page --- */
.album-container {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content:center;
}
.album {
    position: relative;
    background: #333;
    border: 1px solid #666;
    width: 27rem;
    margin: 2em auto;
    padding: 1rem;
    padding-bottom: 0;
}

.album-art img { box-shadow: 0 1px 1px 2px #000;}
.play-button-overlay {
    position: absolute; 
    top: 30px; 
    left: 30px; 
    width: 10%; 
    height: 10%; 
    opacity: .5; 
    text-shadow: 1px 1px #333;
    pointer-events: none; 
    padding: 1rem; 
}
.album-info {
    text-align: center; 
    margin: 0rem; 
}
.album-info img { width: 48px; height: 48px; margin: 0 4px;} /* link icons */
.album-description{ min-height: 2.5rem;}

/* --- About --- */
#avatar { width: 50%; margin-left: auto; margin-right: auto; display: block;}

/* --- Content --- */
#content{
    background: rgba(32,32,32,.9);
    border: 3px groove #EAEAEA;
    border-radius: 35px;
    color: #EEE;
    margin: 0;
    padding: auto;
    /*border: 3px groove #AAA;*/
    padding: 1rem;
}

img{
    max-width: 100%;
    max-height: 100%;
}

.coverart {
    border: 3px groove #AAA;
    display: block;
    max-width: 80%;
    max-height: 80%;
    margin-left: auto;
    margin-right: auto;
}

#albums{
    text-align: center;
}

/* --- Music Table --- */
/* Entire tracklist <table> */
.cover-cell img { box-shadow: 0 1px 1px 2px #000; }
.cover-cell h3 { font-size: 14pt; margin: 2px; padding: 2px;}

/*table-cell ratios*/
.details-cell{ width: 2rem;}
.cover-cell { width: 192px; text-align: center; }
.tags-cell { max-width: 14rem; width: 22%; }
.summary-cell {width: 40%;}

.summary-cell h3 { margin: 0; }
.summary-cell img { width: 40px; padding: 2px; box-shadow: none; margin: auto; }

.summary-tag:hover, .summary-tag:active {border-color: #ff71ce; opacity: 85%;}
.summary-tag { 
    display: inline-block; 
    list-style: none;
    padding: 4px;
    margin: 2px;
    border: 2px groove #666;
    background: #252525;
    font-size: 11pt;
}

#tracklist-table {
    border: 3px #666 groove;
    width: 100%;
}

#tracklist-table th {
    background: #222;
    font-size: 1.5rem;
    padding: .5rem;
}

/* Just the tbody with data in it*/
#tracklist td {
    background: #333;
    padding: .5rem;
    border-top: 1px solid #666;
    border-bottom: 1px solid #666;
}

#search {
    width: 90%; 
    margin-bottom: 1rem;
}

/* Player Buttons */
#stop-music {
    position: fixed; 
    left:5%; 
    bottom: 1rem; 
    width: 40%; 
    height: 64px; 
    z-index: 20; 
    background: #400; 
    color: #EEE; 
    border: 2px solid #888;
    font-size: 16pt;
    cursor: pointer;
}

#seek-btn {
    position: fixed; 
    left:55%; 
    bottom: 1rem; 
    width: 40%; 
    height: 64px; 
    z-index: 20; 
    background: #040; 
    color: #EEE;
    border: 2px solid #888;
    font-size: 16pt;
    cursor: pointer;
}

/* Displays from 561px to 800 */
@media (max-width: 810px){   /* goes after to override all other settings */        
    .summary-cell, 
    .cover-cell,
    .tags-cell, 
    .details-cell {         /* Define on a per-cell basis to be able to hide other cells if needed*/
        max-width: 100%;    /* Reset max-width so all cells are displayed properly in a column */
    }
    .summary-cell { width: 40%;}
    
    #tracklist tr, thead { border: 1px solid #666;}
    
    #tracklist-table td{ padding: .5rem;}
    #tracklist-table {              /* turns the table into a column */
        border-collapse: collapse;
        border-style: none;         /* tr contains border */
    }
    #tracklist td{
        border-style: none;         /* tr contains border */
        width: auto;                /* prevents background bleed */
    }
    .tags-cell {display: none;}
}

/* Displays from 490px to 672px */
@media (max-width: 672px;){
    .hide-in-mobile {display: none;}
}

/* Displays from 320px to 434px */
@media (max-width: 540px){   /* goes after to override all other settings */        
    .summary-cell, 
    .cover-cell,
    .tags-cell {            /* Define on a per-cell basis to be able to hide other cells if needed*/
        max-width: 100%;    /* Reset max-width so all cells are displayed properly in a column */
        display: block;     /* Turn the table into a column-based layout */
    }
    .cover-cell img { max-width: 256px; }
    .summary-cell img { width: 32px; }
    .details-cell h3{ font-size: 1.5rem; }

    #tracklist { display: flex; flex-direction: column;}
    
    #tracklist-table td{ padding: 2px;}
    #tracklist-table {              /* turns the table into a column */
        border-collapse: collapse;
        border-style: none;         /* tr contains border */
    }
    #tracklist td{
        border-style: none;         /* tr contains border */
        width: auto;                /* prevents background bleed */
        text-align: center;
    }
    thead, .tags-cell, .details-cell, .hide-in-mobile {display: none;}
    
    .landing-summary {border: none;}
}

/* --- Hiring Page --- */
form{
    background: #b967ff11;
    border: 3px groove #666;
    border-radius: 35px; 
    padding: 1rem;
}

label{
    font-weight: 900;
}

input[type="text"] {
    background: #333;
    color: #eee;
    font-family: monospace;
}

textarea{
    background: #333;
    color: #eee;
    width: 100%;
    height: 5rem;
}

option:disabled{
    color: #A00;
    background: #AAA;
    text-decoration: line-through;
    opacity: .8;
}

/* --- Social List --- */
.connect ul{
    list-style: none;
    padding: 0;
}
.connect li {display: inline; margin: 0;}
.connect img {height: 48px; width: 48px;}
.connect {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    flex-wrap: wrap;
    align-items: center;
    color: #EEE;
    background: rgba(32,32,32,.8);
    /*border-top: 3px groove #EAEAEA;
    border-bottom: 3px groove #EAEAEA;*/
    border: 3px groove #EAEAEA;
    margin: 4px auto;
    text-align: center;
    padding: .5rem;
    border-radius: 35px;
}

/* --- Misc --- */

pre{
    color: green;
    background: #222;
    border: 1px solid #EEE;
    padding: .5rem;
    overflow: scroll;
}

blockquote {
    background: #00000055;
    border: solid 1px #01cdfe;
    padding: 1rem;
}

/* --- Footer --- */
time {
    /*float: right;
    display: inline;*/
    padding: .33rem;
    border-top: groove 3px #EEE;
    border-bottom: groove 3px #EEE;
}
    
